; To try this out, add this file to your existing pyxll.cfg
; file using the 'external_config' option.
;
; This code accompanies the blog post
; https://www.pyxll.com/blog/machine-learning-in-excel-with-python

[PYTHON]
pythonpath =
	./

[PYXLL]
modules =
	decision_tree
